@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=VT323");

body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index:  -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/sky-clouds.gif");
  /*<div class="tenor-gif-embed" data-postid="17122659" data-share-method="host" data-aspect-ratio="1.78771" data-width="100%"><a href="https://tenor.com/view/sky-clouds-white-sun-light-sun-set-gif-17122659">Sky Clouds GIF</a>from <a href="https://tenor.com/search/sky-gifs">Sky GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script> */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%;
}

.App, .AppOther2, .AppOther1 {
  text-align: center;
  font-family: "Press Start 2P", "VT323";
  color: black;
}

* {
  box-sizing: border-box;
}

.overlay {
  opacity: 0.25;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

.moving-background{
  z-index:  -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-image: url("./assets/sky-clouds.gif");*/
  background-image: url("https://tenor.com/view/sky-clouds-white-sun-light-sun-set-gif-17122659");
  /*<div class="tenor-gif-embed" data-postid="17122659" data-share-method="host" data-aspect-ratio="1.78771" data-width="100%"><a href="https://tenor.com/view/sky-clouds-white-sun-light-sun-set-gif-17122659">Sky Clouds GIF</a>from <a href="https://tenor.com/search/sky-gifs">Sky GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script> */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%;

}

/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  font-size: 14px;
}

.nav__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav__brand img {
  max-width: 125px;
  height: auto;
}

.nav__brand h1 {
  color: var(--clr-blue);
  font-size: 2.5em;
  font-weight: 800;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

}

.nav__links div {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.nav__connect {
  width: 175px;
  height: 50px;
  margin: 0 auto;

  background-color: var(--clr-blue);
  background-color: #E6E6FA;
  color: var(--clr-white);

  border: none;
  border-radius: 4px;

  cursor: pointer;
  transition: all 250ms ease;
}

.nav__connect:hover {
  background-color: var(--clr-blue-2);
}


header {
  /*background-image: url("./assets/super_bee.jpeg");*/
  background-position: center;
  background-size: 25px;
  min-height: 30vh;
  position: relative;
}


.header__title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--clr-white);
  font-size: 2em;

  width: 100%;
  text-align: center;
}

.header__search {
  padding: 5px;
  min-width: 40%;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__search::placeholder {
  font-family: "Open Sans";
  font-size: 1.25em;
  font-weight: 600;
}

.header__search:hover {
  outline: 1px solid var(--clr-blue);
}

.element {
  display: inline-block;
}

#mintButton {
  border-radius: 20px;
  font-size: 14px;
  padding: 10px 20px;
  background-color: #E6E6FA;
}

.input-style {
  border-radius: 10px;
  border: 2px solid lavender;
  font-size: 12px;
  padding: 7px;
  width: 40%;
}

.input-style2 {
  border-radius: 10px;
  border: 2px solid lavender;
  font-size: 12px;
  padding: 7px;
  width: 65%;
}

.input-style3 {
  border-radius: 10px;
  border: 2px solid lavender;
  font-size: 12px;
  padding: 7px;
  width: 35;
  margin-bottom: 15px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;

}

.input-container label {
  margin-right: 10px;
  padding-left: 20px;
  font-size: 14px;
}

p {
  font-size: 13px;
  color:rgb(50, 48, 48); 
}

b {
  color:purple;
}

.element {
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 10px;
  background-color: rgba(221, 181, 246, 0.5); /* 50% opacity */

}

.element2 {
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  width: 75%;
  margin-bottom: 10px;
  background-color: rgba(221, 181, 246, 0.4); /* 50% opacity */
  align-items: center; /* does not work */

}

.element_state {
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 10px;
  background-color: rgba(188, 106, 240, 0.5); /* 50% opacity */

}

textarea {
  width: 70%;
  height: 150px;
  resize: none;
}

.rounded {
  border-radius: 100px;
}
